<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/reset.css" />
    <link rel="stylesheet" href="/posts.css" />
    <link rel="stylesheet" href="/detail.css" />
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <script src="/api.js"></script>
  </head>
  <body>
    <header>
      <h1 id="head" onclick="location.href='/'">Hanghae Blog</h1>
      <hr id="head_" />
    </header>
    <section>
      <header>
        <h2 id="secTitle"><%=detail.title%></h2>
        <div class="date"><%=detail.date%></div>
      </header>
      <article>
        <p><%=detail.description%></p>
      </article>
      <footer>
        <button class="btn btn-default" onclick="postUpdate('<%=detail._id%>')">
          수정
        </button>
        <button class="btn btn-default" onclick="postDelete()">삭제</button>
      </footer>
    </section>
    <script>
      function postUpdate(id) {
        location.href = "/update/" + id;
      }

      function postDelete() {
        location.href = "./posts.ejs";
      }
    </script>
  </body>
</html>
