#secTitle {
  margin-bottom: 20px;
}

#formDesc {
  margin-top: 10px;
}

section > footer {
  display: flex;
  justify-content: end;
}

#formCom {
  width: 100px;
  margin-top: 10px;
}

#formTop {
  display: flex;
  margin-bottom: 10px;
}

.formWriter {
  width: 100px;
  line-height: 34px;
}

.formPw {
  width: 180px;
  line-height: 34px;
}

.formTitle {
  width: 42px;
  line-height: 34px;
  margin-bottom: 10px;
}

#artTitle {
  display: flex;
}

#formWriter {
  margin-right: 10px;
}
