<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/reset.css" />
    <link rel="stylesheet" href="/posts.css" />
    <link rel="stylesheet" href="/write.css" />
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
    <script src="/api.js"></script>
  </head>
  <body>
    <header>
      <h1 id="head" onclick="location.href='/'">Hanghae Blog</h1>
      <hr id="head_" />
    </header>
    <section>
      <header>
        <h2 id="secTitle">글쓰기</h2>
      </header>
      <article>
        <input
          type="text"
          id="formTitle"
          class="form-control"
          placeholder="제목을 입력해주세요."
        />
        <textarea id="formDesc" rows="30" class="form-control"></textarea>
      </article>
      <footer>
        <button id="formCom" class="btn btn-default" onclick="createPost()">
          완료
        </button>
      </footer>
    </section>
  </body>
</html>
